<ul class="sidebar bg-info h-100">
    <li>
        <a href="/admin/profile">
            <span>
                <i class="fas fa-user"></i>
            </span>
            <span class="mx-4"> 个人资料管理 </span>
            <span class="angle">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </li>
    <li>
        <a>
            <span>
                <i class="fas fa-list"></i>
            </span>
            <span class="mx-4"> 系统组织管理 </span>
            <span class="angle">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
        <ul>
            <li>
                <a>
                    <span>
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="mx-4"> 添加用户 </span>
                </a>
            </li>
            <li>
                <a>
                    <span>
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="mx-4"> 密码重置 </span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a>
            <span>
                <i class="fas fa-lock"></i>
            </span>
            <span class="mx-4"> 权限分配管理 </span>
            <span class="angle">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </li>
    <li>
        <a>
            <span>
                <i class="fas fa-key"></i>
            </span>
            <span class="mx-4"> 用户会话管理 </span>
            <span class="angle">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </li>
</ul>